@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-padding-x {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d20606;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a80404;
}
